h1{ text-align: center;
 }

.Super{
	width: 100%;

}

.h2style{
 height : 35px;

}

.content {
	margin: 15px;
}

h2{
	 background-color: pink;
	text-align: right;
	margin: 3px;
	margin-right: 20px;
	float:right;
	border-style:  solid;
 	border-width:2px;
 	border-color: black;

}
 .one{
 	float :left; 	
 	width : 31%;
 	background-color:  gray;
 	margin: 1%;
 	border-style: solid;
 	border-width:2px;
 	border-color: black;


 }
 .two{
 	float:left;
 	width : 31%;
 	background-color:  gray;
 	margin: 1%;
 	border-style: solid;
 	border-width:2px;
 	border-color: black;

 }

 .three
 {
 	float : left;
 	width : 31%;
 	background-color:  gray;
 	margin: 1%;
 	border-style: solid;
 	border-width:2px;
 	border-color: black;

 }
 
